  <footer>
    <div class="container">
      <div class="footer">
        <p><i class="far fa-copyright"></i> Made by Justice : Inspired by CodeFoxx</p>
      </div>
    </div>
  </footer>
</body>
</html>