<div class="container">
    <div class="top-nav">
      <div class="branding">
        <a href="/"><h1><i class="fas fa-globe-europe"></i> The Planet</h1></a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="bottom-nav">
      <a href="/sun"> Sun </a>
      <a href="/mercury"> Mercury </a>
      <a href="/venus"> Venus </a>
      <a href="/earth"> Earth </a>
      <a href="/mars"> Mars </a>
      <a href="/jupiter" style="color: darkgray;"> Jupiter </a>
      <a href="/saturn"> Saturn </a>
      <a href="/uranus"> Uranus </a>
      <a href="/neptune"> Neptune </a>
      <a href="/pluto"> Pluto </a>
    </div>
  </div>