<%- include('partials/header.ejs') %>

    <header>
      <div class="container">
        <div class="top-nav">
          <div class="branding">
            <a href="/"><h1><i class="fas fa-globe-europe"></i> Solar System</h1></a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="bottom-nav">
          <a href="/sun"> Sun </a>
          <a href="/mercury"> Mercury </a>
          <a href="/venus"> Venus </a>
          <a href="/earth" style="color: darkgray;"> Earth </a>
          <a href="/mars"> Mars </a>
          <a href="/jupiter"> Jupiter </a>
          <a href="/saturn"> Saturn </a>
          <a href="/uranus"> Uranus </a>
          <a href="/neptune"> Neptune </a>
          <a href="/pluto"> Pluto </a>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="showcase fade" style="background-image: url('/images/earth.jpg')">
        <div class="overlay">
          <div class="main-text">
            <h1>Earth</h1>
            <p>Earth is the third planet from the Sun and the only astronomical object known to harbor and support life. About 29.2% of Earth's surface is land consisting of continents and islands. The remaining 70.8% is covered with water, mostly by oceans, seas, gulfs, and other salt-water bodies, but also by lakes, rivers, and other freshwater, which together
            constitute the hydrosphere.Much of Earth's polar regions are covered in ice.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content earth">
        <div class="text">
          <div class="inner-text">
            <h1>Earth</h1>
            <p>All of the planets, except for Earth, were named after Greek and Roman gods and godesses. The name Earth is an English/German name which simply means the ground. It comes from the Old English words 'eor(th)e' and 'ertha'.</p>
          </div>
        </div>
        <div class="image" style="background-image: url('/images/earth_extra.jpg')"></div>
      </div>
    </div>
    
<%- include('partials/footer.ejs') %>