<%- include('partials/header.ejs') %>

    <header>
      <%- include('partials/subheader.ejs') %>
    </header>

    <div class="container">
      <div class="showcase fade" style="background-image: url('/images/mars.jpg')">
        <div class="overlay">
          <div class="main-text">
            <h1>Mars</h1>
            <p>Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. The latter refers to the effect of the iron oxide prevalent on Mars's surface, which gives it a reddish appearance distinctive among the astronomical bodies visible to the naked eye.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content mars">
        <div class="text">
          <div class="inner-text ">
            <h1>God of War</h1>
            <p>In English, Mars carries the name of the Roman god of war and is often referred to as the "Red Planet".</p>
          </div>
        </div>
        <div class="image" style="background-image: url(/images/mars-ground.jpg)"></div>
      </div>
    </div>
    
<%- include('partials/footer.ejs') %>