<%- include('partials/header.ejs') %>

    <header>
      <%- include('partials/subheader.ejs') %>
    </header>

    <div class="container">
      <div class="showcase fade" style="background-image: url('/images/saturn.jpg')">
        <div class="overlay">
          <div class="main-text">
            <h1>Saturn</h1>
            <p>Saturn is the sixth planet from the Sun and the second-largest in the Solar System, after Jupiter. It is a gas giant with an average radius of about nine and a half times that of Earth. It only has one-eighth the average density of Earth; however, with its larger volume, Saturn is over 95 times more massive.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content saturn">
        <div class="text">
          <div class="inner-text">
            <h1>God of Wealth & Agriculture</h1>
            <p>Saturn is named after the Roman god of wealth and agriculture; its astronomical symbol (♄) represents the god's sickle.</p>
          </div>
        </div>
        <div class="image" style="background-image: url('<%= saturnUrl[6].urls.raw %>')"></div>
      </div>
    </div>
    
<%- include('partials/footer.ejs') %>